*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"League Spartan";
    src: url("../assets/fonts/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:"Sifonn";
    src: url("../assets/fonts/SIFONN_BASIC_OUTLINE.otf");
}
@font-face {
    font-family:"Unlearns";
    src: url("../assets/fonts/unlearn2.ttf");
}
@font-face {
    font-family:"Tourney";
    src: url("../assets/fonts/Tourney_Condensed-Medium.ttf");
}
